/* App.css hoặc index.css */
@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.7);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease forwards;
}

.animate-fade-out {
  animation: fadeOut 0.3s ease forwards;
}
