@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.7);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
@layer utilities {
  .pulse-scale {
    animation: pulse-scale 1.5s infinite;
  }
  .animate-fade-in {
    animation: fadeIn 0.3s ease forwards;
  }

  .animate-fade-out {
    animation: fadeOut 0.3s ease forwards;
  }
}
